body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e0d9d9;
  margin: 0;
}

img {
  width: 100%;
}

h2,
p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-variant: small-caps;
  text-shadow: 2px 2px black;

  color: rgb(238, 236, 236);
}

p {
  font-variant: normal;
  font-family: monospace;
  text-shadow: none;
}

h2 {
  font-size: 28px;
}

.container {
  background-color: #547792;
  box-shadow: 10px 10px 0px #202020ea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  width: 700px;
  height: 600px;
}

.workplace {
  display: flex;
  gap: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.workplace__controls {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.workplace__canvas {
  flex-shrink: 0;
  width: 500px;
  height: 500px;
  background-color: #f3f4f4;
  display: flex;
  flex-wrap: wrap;
}

.primary-btn-bg {
  background-color: #000000cf;
  border: none;
  padding: 0;
  border-radius: 14px;
  cursor: pointer;
}

.primary-btn-front {
  background-color: hsl(225, 42%, 40%);
  display: block;
  transform: translate(-6px, -6px);
  transition: transform 250ms, backgroud-color 250ms;
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-align: center;
  border-radius: 14px;
  padding: 12px;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.primary-btn-front__active {
  transform: translate(-1px, -1px);
  background-color: hsl(225, 50%, 25%);
}

.primary-btn-front--clear-btn {
  line-height: 18px;
  height: 20px;
  font-size: 18px;
}

.primary-btn-front--clear-btn:active {
  transform: translate(-1px, -1px);
  background-color: hsl(225, 50%, 25%);
}

.slider {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
